{{header}}
<div class="container my-3">
	<small>{{name}} / Sobre</small>
	<hr>
	<h1>Sobre o Projeto {{name}} (MODEL-VIEW-CONTROLLER)</h1>
	<p>{{description}}. O objetivo deste projeto é a implementação de um CRUD usando MVC para fins de estudos sobre
		essas tecnologias e
	stacks.</p>
	<h3>O que é MVC?</h3>
	<p>
		MVC é uma abreviação para Model-View-Controller, sendo um padrão de arquitetura de software utilizado para
		separar a lógica de negócios, a apresentação e a interação do usuário em três componentes distintos.
		O "Model" representa a lógica de negócios e o acesso aos dados, o "View" é responsável pela apresentação da interface do usuário e o "Controller" é o responsável por controlar a interação do usuário e coordenar as ações entre o "Model" e a "View".
		Ao separar essas responsabilidades em diferentes componentes, o padrão MVC facilita o desenvolvimento, manutenção e evolução de um sistema, além de permitir maior flexibilidade e reutilização de código.
	</p>
	<p></p>
	<a href="https://github.com/evandro-tomaz" target="_blank">{{site}}</a>
</div>
{{footer}}