{{header}}
<div class="container">
	<small>{{name}} / Depoimentos</small>
	<hr>
	
	<section class="my-5" id="testimonies">
		
		<div class="card text-bg-dark border-light mb-3">
			<h5 class="card-header">Evandro Tomaz 23/04/2023</h5>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aspernatur
					deserunt dignissimos
					dolor dolorem doloremque doloribus dolorum eaque earum eos error fuga incidunt ipsa iure libero magnam magni,
					molestias nam nesciunt non officia omnis quam quas quod rem repellat reprehenderit, temporibus vero voluptate?
					Blanditiis nam neque porro totam voluptatibus.</p>
			</div>
		</div>
		
		<div class="card text-bg-dark border-light mb-3">
			<h5 class="card-header">Evandro Tomaz 23/04/2023</h5>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aspernatur
					deserunt dignissimos
					dolor dolorem doloremque doloribus dolorum eaque earum eos error fuga incidunt ipsa iure libero magnam magni,
					molestias nam nesciunt non officia omnis quam quas quod rem repellat reprehenderit, temporibus vero voluptate?
					Blanditiis nam neque porro totam voluptatibus.</p>
			</div>
		</div>
		
		<div class="card text-bg-dark border-light mb-3">
			<h5 class="card-header">Evandro Tomaz 23/04/2023</h5>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aspernatur
					deserunt dignissimos
					dolor dolorem doloremque doloribus dolorum eaque earum eos error fuga incidunt ipsa iure libero magnam magni,
					molestias nam nesciunt non officia omnis quam quas quod rem repellat reprehenderit, temporibus vero voluptate?
					Blanditiis nam neque porro totam voluptatibus.</p>
			</div>
		</div>
		
	</section>
	
	<hr>
	
	<section class="my-5" id="form">
		<form method="post">
			<div class="mb-3">
				<label for="inputName">Nome</label>
				<input type="text" class="form-control text-bg-dark" name="inputName" id="inputName" required
				       placeholder="Digite seu nome aqui...">
			</div>
			
			<div class="mb-3">
				<label for="inputMessage">Mensagem</label>
				<textarea class="form-control text-bg-dark" name="inputMessage" id="inputMessage" rows="5"
				          required></textarea>
			</div>
			
			<div class="mb-3">
				<button type="submit" class="btn btn-success">Enviar</button>
			</div>
			
		</form>
	</section>

</div>
{{footer}}